@{
    Layout = "_LoggedOutLayout";
}

<section id="mainColumn">
    <h2>About</h2>
    <p class="info">Welcome to the outdoor gym database.</p>

    <p>Filter by county or search by gym ID, then click on the ID to see more information.</p>
    <p>You can also sign in as a contributor to add or edit gyms.</p>
    <p>This website is a .NET MVC application that uses Entity Framework with a code first approach.</p>
</section><!-- End Left -->