@{
    Layout = "_LoggedOutLayout";
}

<section id="mainColumn">
    <h2>Contact info</h2>
    <p><span class="label">Mail:</span> benjaminvaughn91@gmail.com</p>
    <p><span class="label">Phone:</span> 070 3920 528</p>
</section><!-- End Left -->