@{
    Layout = "_LoggedOutLayout";
}

<section id="mainColumn">
    <h2>Thanks for your contribution!</h2>
    <p class="info">?????????????+</p>

    <p>
        ??????????????????????????????
        Anmälan har nu skickats in till kommunen och kommer att utredas. <br />
        Vill du komplettera din anmälan kontakta oss via mail eller telefon. <br />
        Ange då number: @ViewBag.RefNumber
    </p>
    <p><a class="button" asp-controller="Home" asp-action="Index">Exit</a></p>
</section><!-- End Left -->