@{
    Layout = "_LoggedOutLayout";
    @model LoginModel
}

<section id="mainColumn">
    <h2>Sign in</h2>
    <p class="info"></p>

    <form method="post" asp-controller="Home" asp-action="Login">
        <p>
            <input type="hidden" name="isSubmitted" value="true" />
        </p>
        <p>
            <span class="label">Username:</span><br />
            <input asp-for="UserName" />
            <span asp-validation-for="UserName"></span>
        </p>
        <p>
            <span class="label">Password:</span><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </p>
        <p>
            <input type="hidden" asp-for="ReturnUrl" />
        </p>
        <p>
            <input class="button" type="submit" value="Log in" />
            <br />
            <div asp-validation-summary="All"></div>
        </p>
    </form>

</section><!-- End Left -->